
section{
    margin-left: 1rem;
}

.welcome-img{
    height: 50vh;
}

.gallery{
    display: flex;
    height: 20vh;
    min-width: 100vw;

    margin-bottom: 2rem;
}
.gallery img{
    width: 16vw;
    object-fit: cover;
    object-position: center;
}

